.main {
  width: 100%;
  margin: 20px auto;
}

.bodyheader {
	display: block;
/*	flex-direction: row;

*/
/*	align-items: center; */
/*	float: right; */
}

.bodybottom{
	display: block;
/*	flex-direction: row;

*/
	align-items: center;
/*	float: right; */
}

.translate {
	display: inline-block;
	color: blue;	
	text-color: white;
	text-decoration: underline;
	width:100px;　
	float:right;
}
.translate:hover {
	background-color: #999;
	color: white; 
}
.translateWrap {
/*	float: right; */
}


table {
  border-spacing: 0;
  width: 100%;
  text-align: left;
  display: block;
  table-layout:fixed;

}
tr {
  text-align: left;
}
th {
  padding: 10px;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  padding: 5px;
}
table tbody tr:nth-child(odd){
  background-color: #eee
}
table thead {
  background-color: black;
  color: white;
  text-align: left;
}
table thead th:first-child {
  border-radius: 5px 0 0 0;
  border: 1px solid black;
  text-align: left;
}
table thead th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid black;
  text-align: left;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
  text-align: left;
}

table tbody tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}.main {
  width: 98%;
  margin: 10px auto;
}
table {
  border-spacing: 0;
  width: 100%;
  padding: 5px;
  align: left;
}
tr {
  text-align: left;
}
th {
  padding: 5px;
  text-align: left;
}
table tbody tr:nth-child(odd){
  background-color: #eee
}
table thead {
  background-color: black;
  color: white;
  text-align: left;
}
table thead th:first-child {
  border-radius: 5px 0 0 0;
  border: 1px solid black;
}
table thead th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid black;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
